/* Coolors Exported Palette - coolors.co/ef6461-e4b363-e8e9eb-e0dfd5-313638 */

/* HSL */
$color1: hsla(1%, 82%, 66%, 1);
$color2: hsla(37%, 70%, 64%, 1);
$color3: hsla(220%, 7%, 92%, 1);
$color4: hsla(55%, 15%, 86%, 1);
$color5: hsla(197%, 7%, 21%, 1);

/* RGB */
$color1: rgba(239, 100, 97, 1);
$color2: rgba(228, 179, 99, 1);
$color3: rgba(232, 233, 235, 1);
$color4: rgba(224, 223, 213, 1);
$color5: rgba(49, 54, 56, 1);